{{ attach_library('players_theme/owl') }}
<div class="players-games-block">
  <div class="owl-carousel owl-theme">
    {% if games.future_games | length > 0 %}
      {% for game_info in games.future_games %}
        {% include '@players_theme/templates/content/game.html.twig' with {
          'game_day': game_info.game_day,
          'open_time': game_info.open_time,
          'games': game_info.games,
          'info': game_info.info,
          'food': game_info.food,
          'date': game_info.date,
          'current': game_info.current
        } %}
      {% endfor %}
    {% endif %}
  </div>
</div>
